@font-face {
  font-family: diroz;
  src: url(../public/Font/Dirooz.eot);
  src: url(../public/Font/Dirooz.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pointer{
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
.action svg:nth-child(1) {
  fill: #d70f0f;
  cursor: pointer;
}
.action svg:nth-child(2) {
  fill: #3194bf;
  cursor: pointer;
}
