@font-face {
  font-family: diroz;
  src: url(../public/Font/Dirooz.eot);
  src: url(../public/Font/Dirooz.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
input:focus {
  box-shadow: 0 0 0 0.25rem rgba(20, 203, 240, 0.075) !important;
}
.completed {
  filter: opacity(0.5);
  text-decoration: line-through;
}

.dark{
  background-color: #161616;
}
.dark .title {
  color: white;
}
.dark .text-box {
  color: white;
}
